*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;

  box-sizing: border-box;

  font-size: var(--size-normal);
  color: var(--color-text);

  background-color: var(--color-background);
}
